/* Start Global Rules  */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
:root {
    --main-color: #2196f3;
    --main-color-alt: #1787e0;
    --main-transition: 0.3s;
    --main-padding-top: 100px;
    --main-padding-bottom: 100px;
    --section-background: #ececec
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Cairo', sans-serif;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
/* Small  */
@media (min-width: 767px) {
    .container {
        width: 750px;
    }
}
/* Medium  */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
/* Large  */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
.main-title {
    margin: 0 auto 80px;
    border: 2px solid black;
    padding: 10px 20px ;
    font-size: 30px ;
    width: fit-content;
    position: relative;
    z-index: 1;
    transition: var(--main-transition);
    text-transform: uppercase;
}
.main-title::before ,
.main-title::after {
    content: "";
    width: 12px;
    height: 12px;
    background-color: var(--main-color);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
}
.main-title::before {
    left: -30px;
}
.main-title::after {
    right: -30px;
}
.main-title:hover::before {
    z-index: -1;
    animation: left-move 0.5s linear forwards;
}
.main-title:hover::after {
    z-index: -1;
    animation: right-move 0.5s linear forwards;
}
.main-title:hover {
    color: white;
    border-color: white;
    transition-delay: 0.5s;
}
/* End Global Rules  */
/* Start Header  */
.header {
    background-color: white;
    box-shadow: 0 0 10px #ddd;
}
.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap ;
    position: relative;
}
.header .container .logo {
    margin: 0;
    color: var(--main-color);
    font-size: 26px;
    font-weight: bold;
    text-decoration: none;
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (max-width: 767px) {
    .header .logo {
        width: 100%;
        height: 40px;
    }
}
.header .container .main-nav {
    display: flex;
}
@media (max-width: 767px) {
    .header .container .main-nav {
        margin: auto;
    }
}
.header .container .main-nav > li:hover .mega-menu{
    opacity: 1;
    z-index: 100;
    top: calc(100% + 1px);
}
.header .container .main-nav > li > a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    margin: 0;
    transition: var(--main-transition);
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 30px;
    position: relative;
}
@media (max-width: 767px) {
    .header .container .main-nav > li > a {
        font-size: 14px;
        padding: 10px;
        height: 40px;
    }
}
.header .container .main-nav > li > a::before {
    content: "";
    width: 0%;
    height: 5px;
    top: 0;
    left: 0;
    background-color: var(--main-color);
    position: absolute;
    transition: var(--main-transition);
}
.header .container .main-nav > li > a:hover::before {
    width: 100%;
}
.header .container .main-nav > li > a:hover {
    background-color: #fafafa;
    color: var(--main-color);
}
.mega-menu {
    width: 100%;
    background-color: white;
    position: absolute;
    left: 0;
    z-index: -1;
    transition: top var(--main-transition);
    top: calc(100% + 50px);
    padding: 30px;
    display: flex;
    border-bottom: 3px solid var(--main-color);
    gap: 40px;
    opacity: 0;
}
@media (max-width: 767px) {
    .header .mega-menu {
        flex-direction: column;
        gap: 0;
        padding: 5px;
    }
}
.header .mega-menu  .image img {
    max-width: 100%;
}
@media (max-width: 991px) {
    .header .mega-menu  .image img {
        display: none;
    }
}
.header .mega-menu .links {
    min-width: 240px;
    flex: 1;
}
.header .mega-menu .links li {
    position: relative;
}
.header .mega-menu .links li:not(:last-child) {
    border-bottom: 1px solid #e9e6e6;
}
@media (max-width: 767px) {
    .header .mega-menu .links:first-of-type li:last-child {
        border-bottom: 1px solid #e9e6e6;
    }
}
.header .mega-menu .links li::before {
    content: "";
    background-color: #fafafa;
    width: 0;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    transition: var(--main-transition);
}
.header .mega-menu .links li:hover::before {
    width: 100%;
}
.header .mega-menu  .links li a {
    color: var(--main-color);
    font-size: 18px;
    padding: 15px;
    display: block;
    font-weight: bold;
}
.header .mega-menu  .links li a i {
    margin-right: 10px;
}
/* End Header  */
/* Start Landing  */
.landing {
    position: relative;
}
.landing::before {
    content: "";
    position: absolute;
    left: 0;
    top: -40px;
    width: 100%;
    height: 100%;
    background-color: #ececec;
    z-index: -1;
    transform: skewY(-6deg);
    transform-origin: top left;
}
.landing .container {
    min-height: calc(100vh - 72px);
    display: flex;
    align-items: center;
    padding-bottom: 120px;
}
.landing .text {
    flex: 1;
}
@media (max-width: 991px) {
    .landing .text  {
        text-align: center;
    }
}
.landing .text h1 {
    font-size: 40px;
    margin: 0;
    letter-spacing: -2px;
}
@media (max-width: 767px) {
    .landing .text  h1 {
        font-size: 28px;
    }
}
.landing .text p {
    line-height: 1.7;
    color: #666;
    margin: 5px 0 0 ;
    font-size: 23px;
    max-width: 500px;
}
@media (max-width: 991px) {
    .landing .text p {
        margin: 10px auto;
    }
}
@media (max-width: 767px) {
    .landing .text p {
        font-size: 18px;
    }
}
.landing .image img {
    position: relative;
    width: 600px;
    animation: up-and-down 5s linear infinite;
}
@media (max-width: 991px) {
    .landing .image {
        display: none;
    }
}
.landing .go-down {
    color: var(--main-color);
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    transition: var(--main-transition);
}
.landing .go-down:hover {
    color: var(--main-color-alt);
}
.landing .go-down i {
    animation: bouncing 1.5s infinite;
}
/* End Landing  */
/* Start Articles  */
.articles {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    position: relative;
}
.articles .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px,1fr));
    gap: 40px;
}
.articles .box {
    box-shadow: 0 2px 15px rgb(0 0 0 / 10% );
    background-color: white;
    border-radius: 6px;
    overflow: hidden;
    transition: transform var(--main-transition) , box-shadow var(--main-transition);
}
.articles .box:hover {
    transform: translateY(-10px);
    box-shadow: 0 2px 15px rgb(0 0 0 / 20% );
}
.articles .box .image img {
    max-width: 100%;
}
.articles .box .content {
    padding: 20px;
}
.articles .box .content h3 {
    margin: 0;
}
.articles .box .content p {
    color: #777;
    line-height: 1.5;
}
.articles .box .info {
    padding: 20px;
    border-top: 1px solid #e6e6e7;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.articles .box .info a {
    color: var(--main-color);
    font-weight: bold;
}
.articles .box .info i {
    color: var(--main-color);
}
.articles .box:hover .info i {
    animation: moving-arrow 0.6s linear infinite;
}
/* End Articles  */
/* Start Gallery  */
.gallery {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    background-color: var(--section-background);
}
.gallery .main-title:hover {
    border-color: var(--section-background);
    transition-delay: 0.5s;
}
.gallery .container {
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(300px , 1fr));
    gap:40px 
}
.gallery .container .box {
    background-color: white;
    box-shadow: 0 12px 20px 0px rgb(0 0 0 / 13% ) , 0 2px 4px 0px rgb(0 0 0 / 12% );
    overflow: hidden;
    border: 15px solid white;
    transition: var(--main-transition);
}
.gallery .container .box .image {
    position: relative;
    overflow: hidden;
}
.gallery .container .box .image::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    width: 0%;
    height: 0%;
    background-color: rgb(255 255 255 / 20% );
    opacity: 0;
    z-index: 2;
}
.gallery .container .box .image:hover::before {
    animation: flashing 0.7s;
}
.gallery .container .box .image img {
    max-width: 100%;
    transition: var(--main-transition);
}
.gallery .container .box .image:hover img {
    transform: rotate(5deg) scale(1.1);
}
/* End Gallery  */
/* Start Features */
.features {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
}
.features .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px , 1fr));
    gap: 40px;
}
.features .box {
    border: 1px solid #ccc;
}
.features .box .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
.features .box .content h2 {
    font-size: 40px;
    margin: 0;
    margin-top: 30px;
    margin-bottom: 30px;
    position: relative;
    width: fit-content;
}
.features .box .content h2::after {
    content: "";
    width: calc(100% - 30px);
    height: 5px;
    background-color: #F44036;
    position: absolute;
    left: 15px;
    bottom: -20px;
}
.features .box:nth-child(2) .content h2::after {
    background-color: #009688;
}
.features .box:nth-child(3) .content h2::after {
    background-color: #03A9F4;
}
.features .box .content p {
    text-align: center;
    font-size: 20px;
    line-height: 2;
    color: #777;
    margin: 0;
    margin-top: 30px;
    margin-bottom: 40px;
}
.features .box .content a {
    margin-bottom: 20px;
    color: #F44036;
    padding: 10px 30px ;
    font-weight: bold;
    border: 3px solid #F44036;
    border-radius: 6px;
    font-size: 24px;
    background: linear-gradient(to right , #F44036 50% , white 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: var(--main-transition);
}
.features .box:nth-child(2) .content a {
    border-color: #009688;
    color: #009688;
    background: linear-gradient(to right , #009688 50% , white 50%);
    background-size: 200% 100%;
    background-position: right bottom;
}
.features .box:nth-child(3) .content a {
    border-color: #03A9F4;
    color: #03A9F4;
    background: linear-gradient(to right , #03A9F4 50% , white 50%);
    background-size: 200% 100%;
    background-position: right bottom;
}
.features .box:hover .content a {
    background-position: left bottom;
    color: white;
}
.features .box .image{
    position: relative;
    overflow: hidden;
}
.features .box .image img {
    max-width: 100%;
    height: 100%;
}
.features .box .image::before {
    content: "";
    background-color: #F44036;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 50%;
}
.features .box .image::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    border-style: solid;
    border-width: 0px 0px 170px 500px;
    border-color: transparent transparent white transparent;
    transition: var(--main-transition);
}
.features .box:hover .image::after {
    border-width: 170px 500px 170px 0px;
}
.features .box:nth-child(2) .image::before {
    background-color: #009688;
}
.features .box:nth-child(3) .image::before {
    background-color: #03A9F4
}
/* End Features */
/* Start Testimonials  */
.testimonials {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    background-color: var(--section-background);
}
.testimonials .main-title:hover {
    border-color: var(--section-background);
}
.testimonials .container {
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(300px , 1fr));
    gap:40px;
}
.testimonials .box {
    background-color: white;
    padding: 20px;
    border-radius: 6px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 0.07% );
    position: relative;
}
.testimonials .box img {
    position: absolute;
    max-width: 100%;
    border-radius: 50%;
    right: -10px;
    top: -50px;
    border: 10px solid var(--section-background);
    width: 100px;
}
.testimonials .box h3{
    margin: 0 0 13px;
}
.testimonials .box .title {
    color: #777;
    margin-bottom: 10px;
    display: block;
}
.testimonials .box .rate .filled {
    color: #ffc107;
}
.testimonials .box p {
    line-height: 1.5;
    color: #777;
    margin-top: 10px;
    margin-bottom: 0;
}
/* End Testimonials  */
/* Start Team  */
.team {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
}
.team .container {
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(300px , 1fr));
    gap:40px;  
}
.team .box {
    position: relative;
}
.team .box::before,
.team .box::after {
    content: "";
    background-color: #f3f3f3;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    border-radius: 10px;
    transition: var(--main-transition);
}
.team .box::before {
    width: calc(100% - 60px);
    z-index: -2;
}
.team .box::after {
    z-index: -1;
    background-color: #e4e4e4;
    width: 0;
}
.team .box:hover::after {
    width: calc(100% - 60px);
}
.team .box .data {
    display: flex;
    align-items: center;
    padding-top: 60px;
}
.team .box .data img {
    width: calc(100% - 60px);
    transition: var(--main-transition);
    border-radius: 10px;
}
.team .box:hover img {
    filter: grayscale(100%);
    transition: var(--main-transition);
}
.team .box .data .social {
    width: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.team .box .data .social a {
    width: 60px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: var(--main-transition);
}
.team .box .data .social a:hover i {
    color: var(--main-color);
}
.team .box .data .social i {
    color: #777;
    transition: var(--main-transition);
}
.team .box .info {
    padding-left: 80px;
}
.team .box .info h3 {
    margin-bottom: 0;
    color: var(--main-color);
    font-size: 22px;
    transition: var(--main-transition);
}
.team .box:hover .info h3 {
    color: #777;
}
.team .box .info p {
    margin-top: 10px;
    margin-bottom: 25px;
}
/* End Team  */
/* Start Services  */
.services {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    background-color: var(--section-background);  
}
.services .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px , 1fr));
    gap: 40px;
}
.services .box {
    background-color: white;
    box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13% ), 0 2px 4px 0 rgb(0 0 0 / 12% );
    counter-increment: services;
    transition: var(--main-transition);
    position: relative;
}
.services .box::after {
    content: "";
    width: 0%;
    height: 3px;
    background-color: var(--main-color);
    position: absolute;
    left: 50%;
    top: -3px;
    transform: translateX(-50%);
    transition: var(--main-transition);
}
.services .box:hover::after {
    width: 100%;
}
.services .box:hover {
    transform: translateY(-10px);
}
.services .box i {
    margin: 30px auto 20px;
    color: #d5d5d5;
    text-align: center;
    display: block;
}
.services .box h3 {
    color: var(--main-color);
    margin: 20px 0 40px;
    font-size: 25px;
    text-align: center;
}
.services .box .info {
    padding: 15px;
    position: relative;
    background-color: #f9f9f9;
    text-align: right;
}
.services .box .info::before {
    content: "0" counter(services);
    position: absolute;
    background-color: var(--main-color);
    color: white;
    left: 0;
    top: 0;
    height: 100%;
    width: 80px;
    font-size: 30px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 15px;
}
.services .box .info::after {
    content: "";
    position: absolute;
    background-color: #d5d5d5;
    top: 0;
    left: 80px;
    width: 50px;
    height: calc(100% + 0.4px);
    transform: skewX(-30deg);
}
.services .box .info a {
    color: var(--main-color);
}
/* End Services  */
/* Start Skills */
.our-skills {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
}
.our-skills .container {
    display: flex;
    align-items: center;
}
@media (max-width: 991px) {
    .our-skills img {
        display: none;
    }
}
.our-skills .skills {
   flex: 1;
}
.our-skills .skills .skill h3{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.our-skills .skills .skill span {
    font-size: 12px;
    color: var(--main-color);
    border: 1px solid #ccc;
    padding: 3px 5px;
    border-radius: 4px;
}
.our-skills .skills .skill .progress {
    height: 30px;
    background-color: #EEEEEE;
    position: relative;
}
.our-skills .skills .skill .progress span {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    background-color: var(--main-color);
}
/* End Skills */
/* Start Works  */
.works {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    background-color: var(--section-background);
}
.works .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@media (max-width: 991px) {
    .works .container {
        flex-direction: column;
    }
}
.works .container  .image {
    max-width: 100%;
    margin-right: 100px;
}
@media (max-width: 991px) {
    .works .container .image {
        margin: 0 0 50px;
    }
}
.works .container .info .box {
    display: flex;
    align-items: center;
    background-color: #F6F5F5;
    padding: 30px;
    border: 2px solid white;
    border-radius: 6px;
    position: relative;
    z-index: 1;
    margin-bottom: 20px;
}
@media (max-width: 991px) {
    .works .container .info .box {
        flex-direction: column;
    }
}
.works .container .info .box::before {
    content: "";
    width: 0%;
    height: 0%;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50% );
    background-color: #ededed;
    position: absolute;
    transition: var(--main-transition);
    z-index: -1;
}
.works .container .info .box:hover::before {
    width: 100%;
    height: 100%;
}
.works .container .info .box img {
    width: 64px;
    margin-right: 30px;
}
@media (max-width: 991px) {
    .works .container .info .box img {
        margin: 0 0 30px;
    }
}
.works .container .info .box .text h3 {
    margin: 0;
    font-size: 22px;
}
.works .container .info .box .text p {
    color: #777;
    line-height: 1.7;
    font-size: 18px;
    margin: 10px 0 0 ;
}
@media (max-width: 991px) {
    .works .container .info .box .text {
        text-align: center;
    }
}
/* End Works  */
/* Start Latest Events */
.events {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    position: relative;
}
.events > img:first-of-type {
    position: absolute;
    right: 0;
    top: 200px;
}
.events > img:last-of-type {
    position: absolute;
    left: 0;
    bottom: 200px;
    z-index: -1;
}
.events .container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.events .container > img {
    max-width: 450px;
}
@media (max-width: 991px) {
    .events .container > img {
        display: none;
    }
}
.events .container .info {
    flex: 1;
}
.events .container .info .time {
    display: flex;
    align-items: center;
    margin: 20px auto;
    gap: 10px;
    justify-content: center;
}
.events .container .info .time .unit {
    width: 75px;
    border: 1px solid #d4d4d4;
    border-radius: 6px;
    text-align: center;
    transition: var(--main-transition);
}
.events .container .info .time .unit span {
    display: block;
}
.events .container .info .time .unit span:first-of-type {
    color: var(--main-color);
    font-weight: bold;
    font-size: 35px;
    padding: 15px 10px;
    text-align: center;
}
.events .container .info .time .unit span:last-of-type {
    padding: 8px 10px;
    border-top: 1px solid #d4d4d4;
    font-size: 13px;
    transition: var(--main-transition);
}
.events .container .info .time .unit:hover ,
.events .container .info .time .unit:hover span:last-of-type {
    border-color: var(--main-color);
}
.events .container .info h2 {
    font-size: 30px;
    margin: 40px 0 0 0;
    text-align: center;
}
.events .container .info p {
    color: #777;
    line-height: 1.7;
    font-size: 19px;
    text-align: center;
}
.subscribe {
    width: 100%;
    margin-top: 50px;
}
.subscribe form {
    display: flex;
    width: 600px;
    margin: 20px auto;
    padding: 30px 40px ;
    background-color: #F6F5F5;
    border-radius: 50px;
    gap: 20px;
}
@media (max-width: 767px) {
    .events .subscribe form {
        max-width: 100%;
        padding: 20px;
        flex-direction: column;
        border-radius: 0;
    }
}
.subscribe form input[type="email"] {
    border: none;
    flex: 1;
    padding: 20px  ;
    border-radius: 50px;
    caret-color: var(--main-color);
}
.subscribe form input[type="email"]:focus {
    outline: none;
}
@media (max-width: 767px) {
    .subscribe form input[type="email"] {
        border-radius: 0;
    }
}
.subscribe form input[type="email"]::placeholder {
    transition: opacity var(--main-transition);
}
.subscribe form input[type="email"]:focus::placeholder {
    opacity: 0;
}
.subscribe form input[type="submit"] {
    border: none;
    background-color: var(--main-color);
    color: white;
    border-radius: 50px;
    padding: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: var(--main-transition);
}
@media (max-width: 767px) {
    .subscribe form input[type="submit"] {
        border-radius: 0;
    }
}
.subscribe form input[type="submit"]:hover {
    background-color: var(--main-color-alt);
}
/* End Latest Events */
/* Start Pricing Plans  */
.pricing {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    background-color: var(--section-background);
    position: relative;
    z-index: 1  ;
}
.pricing > img:first-of-type {
    position: absolute;
    right: 0;
    top: 200px;
    z-index: -1;
}
.pricing > img:last-of-type {
    position: absolute;
    left: 0;
    bottom: 200px;
    z-index: -1;
}
.pricing .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px , 1fr));
    gap: 40px;
}
.pricing .box {
    background-color: white;
    text-align: center;
    position: relative;
    z-index: 1;
    box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13% ), 0 2px 4px 0 rgb(0 0 0 / 12% );
}
.pricing .box::before ,
.pricing .box::after{
    content: "";
    position: absolute;
    width: 0;
    height: 50%;
    background-color: #f6f6f6;
    transition: var(--main-transition);
    z-index: -1;
}
.pricing .box::before {
    left: 0;
    top: 0;
}
.pricing .box::after {
    right: 0;
    bottom: 0;
}
.pricing .box:hover::after ,
.pricing .box:hover::before {
    width: 100%;

}
@media (min-width: 1200px) {
    .pricing .box.popular {
        top: -20px;
    }
}
.pricing .box.popular .label {
    position: absolute;
    writing-mode: vertical-rl;
    background-color: var(--main-color);
    color: white;
    font-weight: bold;
    padding: 10px 10px 35px 10px;
    font-size: 18px;
    right: 20px ;
    width: 40px;
}
.pricing .box.popular .label::before {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    border-style: solid;
    border-color: transparent transparent white transparent;
    border-width: 20px;
}
.pricing .box .title h2 {
    font-weight: bold;
    font-size: 25px;
    margin: 30px 0;
    letter-spacing: -1px;
}
.pricing .box .image img {
    width: 80px;
    margin-bottom: 30px;
}
.pricing .box .price {
    text-align: center;
    margin-bottom: 20px;
}
.pricing .box .price .amount {
    color: var(--main-color);
    font-size: 60px;
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}
.pricing .box .price .time {
    color: #777;
}
.pricing .box ul {
    text-align: left;
}
.pricing .box ul li {
    padding: 20px;
    border-top: 1px solid #eee;
}
.pricing .box ul li::before {
    content: "\f00c";
    font-family: FontAwesome;
    color: var(--main-color);
    font-weight: 900;
    margin-right: 10px;
}
.pricing .box a {
    border: 2px solid var(--main-color);
    color: var(--main-color);
    padding: 15px 20px ;
    margin: 30px auto 40px;
    display: block;
    border-radius: 6px;
    font-weight: bold;
    width: fit-content;
    transition: var(--main-transition);
}
.pricing .box a:hover {
    background-color: var(--main-color-alt);
    color: white;
    border-color: var(--main-color-alt);
}
/* End Pricing Plans  */
/*  Start Videos */
.videos {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
}
.videos .holder {
    background-color: var(--section-background);
    display: flex;
    border: 1px solid #ddd;
    justify-content: center;
}
@media (max-width: 991px) {
    .videos .holder {
        flex-direction: column;
    }
}
.videos .holder .list {
    background-color: white;
    min-width: 300px;
}
.videos .holder .list .name {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    font-weight: bold;
    background-color: #F4F4F4;
}
.videos .holder .list ul li {
    padding: 20px;
    border-top: 1px solid var(--section-background);
    cursor: pointer;
    transition: var(--main-transition);
}
.videos .holder .list ul li:hover {
    color: var(--main-color);
    background-color: #fafafa;
}
.videos .holder .list ul li span {
    display: block;
    margin-top: 10px;
    color: #777;
}
.videos .holder .preview {
    background-color: #e2e2e2;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.videos .holder .preview img {
    max-width: 100%;
}
.videos .holder .preview .info {
    margin-top: 20px;
    background-color: white;
    padding: 20px;
}
/*  End Videos */
/* Start Stats */
.stats {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    background-image: url(../imgs/stats.jpg);
    background-size: cover;
    position: relative;
}
.stats::before {
    content: "";
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgb(255 255 255 / 95%);
}
.stats h2 {
    position: relative;
    margin: 0 auto 50px;
    width: fit-content;
    font-size: 40px;
    font-weight: bold;
}
.stats .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px , 1fr));
    gap: 40px;
    position: relative;
}
.stats .box {
    background-color: white;
    text-align: center;
    padding: 30px 15px;
    transition: var(--main-transition);
    position: relative;
    opacity: 0.8;
}
.stats .box:hover {
    opacity: 1;
}
.stats .box::before ,
.stats .box::after {
    content: "";
    position: absolute;
    width: 2px;
    height: 0;
    background-color: var(--main-color);
    transition: 1s;
}
.stats .box::before {
    right: 0;
    top: 0;
}
.stats .box::after {
    bottom: 0;
    left: 0;
}
.stats .box:hover::after ,
.stats .box:hover::before{
    height: 100%;
}
.stats .box .number {
    font-size: 50px;
    display: block;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}
.stats .box .text {
    color: var(--main-color);
    font-style: italic;
    font-weight: bold;
    font-size: 20px;
}
/* End Stats */
/* Start Discount  */
.discount {
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
}
.discount .image {
    background-image: url(../imgs/discount-background1.jpg);
    background-size: cover;
    color: white;
    flex-basis: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
    animation: change-backround 10s linear infinite;
}
.discount .image::before  {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(23 135 224 / 97%);
    z-index: -1;
}
@media (max-width: 991px) {
    .discount .image {
        flex-basis: 100%;
    }
}
.discount .form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 50%;
    padding-bottom: 50px;
}
@media (max-width: 991px) {
    .discount .form {
        flex-basis: 100%;
    }
}
.discount .form .input {
    display: block;
    width: 100%;
    margin-bottom: 25px;
    padding: 15px;
    border: none;
    border-bottom: 1px solid #ccc;
    background-color: #f9f9f9;
    caret-color: var(--main-color);
}
.discount .form textarea.input {
    resize: none;
    height: 200px;
}
.discount .form .input:focus {
    outline: none;
}
.discount .form [type="submit"] {
    display: block;
    width: 100%;
    padding: 15px;
    background-color: var(--main-color);
    color: white;
    font-weight: bold;
    font-size: 20px;
    border: none;
    cursor: pointer;
    transition: var(--main-transition);
}
.discount .form [type="submit"]:hover {
    background-color: var(--main-color-alt);
}
.discount .content {
    text-align: center;
    padding: 0 20px;
}
.discount .content h2 {
    font-size: 40px;
    letter-spacing: -2px;
}
.discount .content p {
    line-height: 1.6;
    font-size: 18px;
    max-width: 500px;
}
.discount .content img {
    width: 300px;
    max-width: 100%;
}
/* End Discount  */
/* Start Footer  */
.footer {
    padding: 70px 0 0;
    background-color: #191919;
}
.footer .container {
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(250px , 1fr));
    gap: 40px;
}
.footer .box h3 {
    font-size: 50px;
    margin: 0 0 20px;
    color: white;
}
.footer .box .social {
    display: flex;
}
.footer .box .social li {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}
.footer .box .social li a {
    background-color: #313131;
    color: #B9B9B9;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    font-size: 20px;
    transition: var(--main-transition);
}
.footer .box .social .facebook:hover {
    background-color: #1877f2;
}
.footer .box .social .twitter:hover {
    background-color: #1da1f2;
}
.footer .box .social .youtube:hover {
    background-color: #ff0000;
}
.footer .box .text {
    color: #B9B9B9;
    line-height: 2;
}
.footer .box .links li {
    padding: 15px 0;
    transition: var(--main-transition);
}
.footer .box .links li:not(:last-child) {
    border-bottom: 1px solid #444;
}
.footer .box .links li:hover {
    padding-left: 10px;
}
.footer .box .links li a {
    color: #B9B9B9;
    transition: var(--main-transition);
}
.footer .box .links li:hover a {
    color: white;
}
.footer .box .links li a::before {
    content: "\F101";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 10px;
    color: var(--main-color);
}
.footer .box .line {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}
.footer .box .line i {
    color: var(--main-color);
    font-size: 25px;
    margin-right: 10px;
}
.footer .box .line .info {
    color: #B9B9B9;
    line-height: 1.7;
    flex: 1;
}
@media (max-width: 761px) {
    .footer {
        text-align: center;
    }
    .footer .box .social {
        justify-content: center;
    }
    .footer .box .line {
        flex-direction: column;
    }
    .footer .box .line i {
        margin-bottom: 10px;
    }
}
.footer .footer-gallery img {
    width: 78px;
    border: 3px solid white;
    margin: 2px;
}
.footer .copyright {
    padding: 25px 0;
    text-align: center;
    color: white;
    margin: 50px 0 0;
    border-top: 1px solid #444;
}
/* End Footer  */
/* Start Animation  */
@keyframes up-and-down {
    0%,
    100% {
        top: 0;
    }
    50% {
        top: -50px;
    }
}
@keyframes bouncing {
    0%, 10%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40%, 60% {
        transform: translateY(-15px);
    }
}
@keyframes left-move {
    50% {
        width: 12px;
        height: 12px;
        left: 0;
    }
    100% {
        width: 100%;
        height: 100%;
        left: 0;
        border-radius: 0;
    }
}
@keyframes right-move {
    50% {
        width: 12px;
        height: 12px;
        right: 0;
    }
    100% {
        width: 100%;
        height: 100%;
        right: 0;
        border-radius: 0;
    }
}
@keyframes moving-arrow {
    100% {
        transform: translateX(10px);
    }
}
@keyframes flashing {
    0% , 40% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        height: 200%;
        width: 200%;
    }
}
@keyframes change-backround {
    0% , 100% {
        background-image: url(../imgs/discount-background1.jpg);
    }
    50% {
        background-image: url(../imgs/discount-background2.jpg);
    }
}
/* End Animation  */